.navbar-custom {
  background-color: #e8e8e8;
  border-color: #d7d7d7;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e8e8e8, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #3d3c3c;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #232323;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #3d3c3c;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #d7d7d7;
}
.navbar-custom .navbar-nav > li > a {
  color: #3d3c3c;
  border-left: 1px solid #d7d7d7;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #006c9c;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #006c9c;
  background-color: #d7d7d7;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d7d7d7), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #d7d7d7, 0%, #f1f1f1, 100%);
  background-image: -moz-linear-gradient(top, #d7d7d7 0%, #f1f1f1 100%);
  background-image: linear-gradient(to bottom, #d7d7d7 0%, #f1f1f1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd7d7d7', endColorstr='#fff1f1f1', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #d6d6d6;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #006c9c;
  border-bottom-color: #006c9c;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #d7d7d7;
  color: #006c9c;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #006c9c;
  border-bottom-color: #006c9c;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #3d3c3c;
  border-bottom-color: #3d3c3c;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #3d3c3c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #006c9c;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #006c9c;
    background-color: #d7d7d7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #3d3c3c;
}
.navbar-custom .navbar-link:hover {
  color: #006c9c;
}