.navbar-custom {
  background-color: #2cb316;
  border-color: #259512;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#37e01c), to(#2cb316));
  background-image: -webkit-linear-gradient(top, #37e01c, 0%, #2cb316, 100%);
  background-image: -moz-linear-gradient(top, #37e01c 0%, #2cb316 100%);
  background-image: linear-gradient(to bottom, #37e01c 0%, #2cb316 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37e01c', endColorstr='#ff2cb316', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #141414;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #141414;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #259512;
}
.navbar-custom .navbar-nav > li > a {
  color: #141414;
  border-left: 1px solid #259512;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #006c9c;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #006c9c;
  background-color: #259512;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#259512), to(#30c318));
  background-image: -webkit-linear-gradient(top, #259512, 0%, #30c318, 100%);
  background-image: -moz-linear-gradient(top, #259512 0%, #30c318 100%);
  background-image: linear-gradient(to bottom, #259512 0%, #30c318 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff259512', endColorstr='#ff30c318', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #249312;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #006c9c;
  border-bottom-color: #006c9c;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #259512;
  color: #006c9c;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #006c9c;
  border-bottom-color: #006c9c;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #141414;
  border-bottom-color: #141414;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #141414;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #006c9c;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #006c9c;
    background-color: #259512;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #141414;
}
.navbar-custom .navbar-link:hover {
  color: #006c9c;
}